/*
 * Ohne Zeichen = Node
 * . (Punkt) Zeichen = CSS-Klasse
 * # (Raute/Hash) Zeichen = ID
 * 
 * : (Doppelpunkt) - Pseudoklassen für bestimmte Funktionalitäten
 * 
 * 
 * CSS Reference:
 * https://www.w3schools.com/cssref/default.asp
 */
 
GridPane{
    -fx-background-color: lightgrey;
}

#red{
	
}

.label{
    -fx-background-color: rgb(156, 185, 131);
	-fx-alignment: CENTER_RIGHT;
	-fx-padding: 12 14 20 10;
	-fx-background-radius: 4;
	-fx-background-insets: 10 10 20 10;
	-fx-effect: innershadow(two-pass-box,rgb(26, 30, 15) , 10, 0, 3, 3 )
}

.label .text{
	-fx-effect: dropshadow(two-pass-box , black, 4, 0.0 , 1, 1);
	-fx-font-size: 60;
	-fx-fill: rgb(26, 30, 15);
}

.button{
    -fx-font-size: 20;
    -fx-background-color: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
}

.button:hover{
    -fx-background-color: lightgrey;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}

.button:pressed, .button:armed{
    -fx-background-color: darkgrey;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}


.button.equals{
    -fx-background-color: derive(darkred, 80%);
    -fx-text-fill: white;
}

.button.equals:hover{
    -fx-background-color: derive(darkred,90%);
    -fx-text-fill: white;
}

.button.equals:pressed, .button.equals:armed{
    -fx-background-color: darkred ;
    -fx-text-fill: white;
}

.button.operator{
	-fx-background-color: derive(darkblue, 80%);
    -fx-text-fill: white;
}
